




h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

ul#menu {
  position: absolute;
  top: 40px;
  right: 100px;
  z-index: 1;
}


ul#menu li {
  list-style-type: none;
  display: inline;
  margin: 0px 10px;
  font-family: serif;
  font-size: 25px;
  color: #FFFFFF;


}

h5 {
  color: grey; opacity: 0.7;
}


table {
  border: 2px solid #000;
  background-color:black;
  table-layout: fixed;
  width: 500px;
  height: 200px;
}

tr {
  background-color: blue;
  color: white;
}

td {
background-color: white;
color: #000;
}

tr.alternate {
  background-color: black;
}
 button {
  display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'arial';
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #FF4233;
    box-shadow: inset 0 -0.6em 0 -0.3em rgba(0, 0, 0, 0.20);
    text-align: center;
    position: relative;
    cursor: pointer;
}
button:hover {
background:#E64B3E;
}

#correlati {
  text-align: center;
}
.articoli {
display: inline-block;
margin: 2%;
text-align: center;
position: relative;
left: 28%;
}
